.logo {
  height: 7rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem;
  background-color: rgba(247, 194, 249, 0.564);
  border: 1px solid black;
  padding: 0.2rem;
}

.nav-items > ul {
  list-style: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 1rem;
  margin: 1rem;
}

.card {
  width: 14rem;
  border: 1px solid black;
  padding: 0.3rem;
  margin: 0.5rem;
}

.card > img {
  width: 100%;
}

.restraunt-list {
  display: flex;
  flex-wrap: wrap;
}
